.about {
    @include d_f(flex, center, space-between);
    padding: 80px 95px 55px 95px;
    @include mw(S) {
        justify-content: center;
        flex-wrap: wrap;
        padding: 6px 0 38px;
    }
    // about_txt
    &_txt {
        width: 55%;
        align-content: flex-start;
        @include mw(S) {
            width: 100%;
            margin-bottom: 35px;
            text-align: center;
        }
    }
    // about_address
    &_address {
        @include d_f(flex, flex-end);
        margin-top: 17px;
        &::before {
            content: '';
            align-self: center;
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 6px;
            background: url('../images/icon/icon_adderss.svg') no-repeat
                center/contain;
        }
        .tw {
            margin-right: 8px;
            font-weight: 20px;
        }
        .en {
            font-weight: 18px;
        }
        @include mw(S) {
            justify-content: center;
            margin-top: 14px;
            .tw {
                font-size: 14px;
            }
            .en {
                font-weight: 12px;
            }
        }
    }
}
