/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
        format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
svg {
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 48px;
    font-weight: 300;
    color: #1e1e1e;
}
h3 {
    width: 100%;
    font-size: 36px;
    font-weight: 300;
    color: #1e1e1e;
}
.under_line {
    border-bottom: 2px solid #e0da48;
    font-weight: 300;
}

.func {
    @include d_f(flex, center, flex-end);
    flex-wrap: wrap;
    width: 45%;

    * + * {
        margin-top: 7px;
    }
}
.normal_sel {
    position: relative;
    @include d_f(flex, center);
    width: 100%;
    max-width: 350px;
    height: 50px;
    padding: 11px 30px;
    color: #6e7d60;
    fill: #737373;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    &_group {
        display: none;
    }

    .icon_arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 23px;
        display: block;
        width: 16px;
        height: 14px;
        margin: auto 0;
    }
}
.normal_inp {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 50px;
    padding: 11px 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    input::placeholder {
        color: #9e9e9e;
    }
}
.normal_btn {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 50px;
    background: #7f977b;
    color: #fff;
    fill: #fff;
    border-radius: 6px;
    &._search {
        @include d_f(flex, center, center);
    }
    .icon_search {
        display: block;
        width: 17px;
        height: 17px;
        margin-right: 15px;
    }
}
.wrap {
    width: 100%;
    height: 100%;
}
.content {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 80px);
    @include mw(S) {
        height: calc(100% - 65px);
    }
}
.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 0 45px;
    margin: auto;
}
.header {
    @include d_f(flex, center, space-between);
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: auto;
    padding: 0 45px;
    border-bottom: 1px solid #e5e5e5;

    @include mw(S) {
        height: 65px;
    }
}
.logo {
    width: 240px;
    height: 32px;
}

.menu {
    &_btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: none;
        width: 50px;
        height: 50px;
        padding: 15px 10px;
        background-color: #a8b8a5;
        border-radius: 12px;
        @extend %hand;

        @include mw(S) {
            display: block;
        }
        span {
            position: relative;
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                right: 0;
                display: block;
                width: 70%;
                height: 3px;
                background-color: #fff;
                border-radius: 3px;
            }
            &::before {
                top: 10px;
            }
            &::after {
                bottom: 10px;
            }
        }
    }
    &_group {
        @include d_f(flex, center);
        color: #646464;

        @include mw(S) {
            display: none;
        }
        li + li {
            margin-left: 20px;
        }
    }
}

.banner {
    position: relative;
    &_group {
        overflow: hidden;
        @include d_f(flex);
        width: 100%;
        height: 400px;
    }
    &_item {
        flex: none;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &_next,
    &_prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        @include d_f(flex, center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #ffffff;
        fill: #ffffff;
        border: 2px solid #ffffff;
        @extend %hand;

        svg {
            width: 16px;
        }
    }
    &_next {
        right: 30px;
        transform: rotate(-90deg);
    }
    &_prev {
        left: 30px;
        transform: rotate(90deg);
    }

    &_dot {
        position: absolute;
        right: 40px;
        bottom: 25px;
        @include d_f(flex, center);
        li {
            width: 16px;
            height: 16px;
            background-color: #c4c4c4;
            border-radius: 50%;
            @extend %hand;
            &.on {
                width: 20px;
                height: 20px;
                background-color: #ffffff;
            }
        }
        li + li {
            margin-left: 12px;
        }
    }
}

.infoBox {
    @include d_f(flex);
    flex-wrap: wrap;
    margin-top: 35px;
}

.activity {
    &_group {
        @include d_f(flex, center, space-between);
        flex-wrap: wrap;
        width: 100%;
    }
    &_item {
        overflow: hidden;
        @include d_f(flex);
        width: calc(50% - 15px);
        margin-top: 12px;
        font-size: 16px;
        border: 1px solid #e5e5e5;
        border-radius: 12px;
        .pic {
            flex: none;
            width: 160px;
            height: 160px;
        }
        .txt {
            @include d_f(flex, center);
            flex-wrap: wrap;
            width: 100%;
            padding: 16px 30px;
            // txt_date
            &_date {
                color: #646464;
            }
            // txt_title
            &_title {
                height: 60px;
                font-size: 22px;
                font-weight: 700;
            }
            // txt_address
            &_address {
                @include d_f(flex, center);
                width: 50%;
                color: #646464;
                fill: #646464;
                .icon_add {
                    display: block;
                    width: 14px;
                    height: 16px;
                    margin-right: 4px;
                }
            }
            // txt_detail
            &_detail {
                @include d_f(flex, center, flex-end);
                width: 50%;
                color: #7f977b;
                fill: #7f977b;
                .icon_arrow {
                    display: block;
                    width: 16px;
                    height: 16px;
                    margin-left: 6px;
                        transform: rotate(-90deg);
                        
                }
            }
        }
    }
}
