.menu li a {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu li a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 75px;
  background-color: #3caad9;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  padding: 0 60px;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.routeSearch .container {
  padding: 0;
}

.logo {
  width: 56px;
  height: 52px;
}

.logo a {
  width: 100%;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li a {
  color: #ffffff99;
  text-decoration: none;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu li a:hover {
    color: #ffffff;
  }
}

.menu li a:active {
  color: #ffffff;
}

.menu li + li {
  margin-left: 48px;
}

.main {
  width: 100%;
  height: 100%;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 65px;
  background-color: #f5f5f5;
}

footer span {
  color: #333333;
}

footer p {
  color: #33333333;
}

.inpBox {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 430px;
  padding: 40px 40px 0 60px;
  border-right: 1px solid #3333331a;
}

.inpBox h2 {
  margin-bottom: 40px;
}

.keyboard_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.keyboard_inp {
  width: 100%;
  height: 45px;
  margin-bottom: 24px;
  padding: 10px;
  border: 1px solid #3caad9;
  border-radius: 10px;
}

.keyboard_btn {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 56.4px;
  height: 44px;
  margin-bottom: 8px;
  background: rgba(51, 51, 51, 0.05);
  border-radius: 10px;
}

.keyboard_btn._num {
  background-color: #f4fcff;
}

.keyboard_btn._double {
  width: 112.8px;
}

.list {
  width: 100%;
  padding: 40px 15px 60px;
}

h1 {
  font-family: "PingFang TC";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 160%;
  color: #06182d;
}

@media screen and (max-width: 995px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  color: #333333;
  font-weight: 600;
  font-size: 24px;
}

.normal_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  background: #3caad9;
  color: #fff;
  fill: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 995px) {
  .normal_btn {
    font-size: 16px;
  }
}

.normal_btn._search {
  max-width: 280px;
  margin-top: 77px;
}

@media screen and (max-width: 995px) {
  .normal_btn._search {
    margin-top: 45px;
  }
}

.normal_btn._search svg {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  padding: 2px;
}

.list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
}

.list_item_star {
  width: 24px;
  height: 24px;
  padding: 1px;
}

.map {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 437px;
}

.home {
  padding: 42px 0;
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 995px) {
  .home .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home h1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: nowrap;
}

.home_serach .line {
  position: relative;
}

.home_serach .line::after {
  content: attr(data-txt);
  position: relative;
}

.home_serach .line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: calc(100% - 16px);
  height: 17px;
  margin: auto;
  background: #3caad9;
  border-radius: 100px;
}

.home_pic img {
  width: 100%;
  vertical-align: middle;
}
/*# sourceMappingURL=all.css.map */